/* component style */
.vue-slider-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* rail style */
.vue-slider-rail {
  background-color: #cdcdcd;
}

/* process style */
.vue-slider-process {
  background-color: #343434;
  height: 4px !important;
  transform: translateY(-25%);
}

.vue-slider-dot {
  height: 22px !important;
  width: 8px !important;
}

.vue-slider-dot-handle-focus {
  background-color: #7559ff !important;
}

/* mark style */
.vue-slider-mark {
  z-index: 4;
}
.vue-slider-mark:first-child .vue-slider-mark-step,
.vue-slider-mark:last-child .vue-slider-mark-step {
  display: none;
}
.vue-slider-mark-step {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.16);
}
.vue-slider-mark-label {
  font-size: 14px;
  white-space: nowrap;
}
/* dot style */
.vue-slider-dot-handle {
  cursor: pointer;
  width: 8px;
  height: 22px;
  background-color: #262626;
  box-sizing: border-box;
}

.vue-slider-dot-tooltip-inner {
  display: none;
}

@media screen and (prefers-color-scheme: dark) {
  .vue-slider-rail {
    background-color: #666;
  }

  .vue-slider-process {
    background-color: #ccc;
  }

  .vue-slider-dot-handle {
    cursor: pointer;
    width: 8px;
    height: 22px;
    background-color: #fff;
    box-sizing: border-box;
  }

  .vue-slider-dot-handle-focus {
    background-color: #8972fd !important;
  }
}

/*# sourceMappingURL=default.css.map */
