$black: #1a1a1a;
$white: #fff;
$light-main: #7559ff;
$dark-main: #8972fd;
$white-background: #fff;
$black-background: #1a1a1a;
$dark-background: #1f2023;

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
