<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="yandex-verification" content="bae37bc24cf2c808" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title>Oonyxx Store | Don’t lose your chance</title>

    <script src="https://smtpjs.com/v3/smtp.js"></script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but Oonyxx-store doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>
