<template>
  <div class="admin">
    <Header />
    <div class="container">
      <div class="header">
        <h1 class="title is-inline">Панель управления</h1>
        <button
          class="button is-primary is-outlined is-pulled-right"
          @click="logout"
        >
          Выйти
        </button>
        <button
          class="button is-primary is-outlined is-pulled-right"
          @click="openCategoriesPhotosModal"
        >
          Изменить фото категорий
        </button>
      </div>
      <div class="columns">
        <div class="column">
          <div class="box">
            <div>
              <h4 class="title is-4 is-inline">Слайды</h4>
              <button
                class="button is-primary is-pulled-right"
                @click="openSlideModal"
              >
                <span class="icon">
                  <font-awesome-icon icon="plus" />
                </span>
                <span>Добавить</span>
              </button>
            </div>
            <table class="table is-fullwidth is-hoverable">
              <tbody>
                <tr v-for="slide in slides" :key="slide.id">
                  <td>{{ slide.title }}</td>
                  <td class="controls">
                    <button
                      class="button is-danger is-outlined is-pulled-right"
                      @click="deleteSlide(slide.id)"
                    >
                      <span class="icon">
                        <font-awesome-icon icon="trash" />
                      </span>
                    </button>
                    <button
                      class="button is-primary is-outlined is-pulled-right"
                      @click="openEditSlideModal(slide.id)"
                    >
                      <span class="icon">
                        <font-awesome-icon icon="pen" />
                      </span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="box">
            <div>
              <h4 class="title is-4 is-inline">Бренды</h4>
              <button
                class="button is-primary is-pulled-right"
                @click="openBrandModal"
              >
                <span class="icon">
                  <font-awesome-icon icon="plus" />
                </span>
                <span>Добавить</span>
              </button>
            </div>
            <table class="table is-fullwidth is-hoverable">
              <tbody>
                <tr v-for="brand in brands" :key="brand.id">
                  <td>{{ brand.title }}</td>
                  <td class="controls">
                    <button
                      class="button is-danger is-outlined is-pulled-right"
                      @click="deleteBrand(brand.id)"
                    >
                      <span class="icon">
                        <font-awesome-icon icon="trash" />
                      </span>
                    </button>
                    <button
                      class="button is-primary is-outlined is-pulled-right"
                      @click="openEditBrandModal(brand.id)"
                    >
                      <span class="icon">
                        <font-awesome-icon icon="pen" />
                      </span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <h4 class="title is-4 is-inline">Подкатегории</h4>
            <button
              class="button is-primary is-pulled-right"
              @click="openCategoryModal"
            >
              <span class="icon">
                <font-awesome-icon icon="plus" />
              </span>
              <span>Добавить</span>
            </button>
            <table class="table is-fullwidth is-hoverable">
              <tbody>
                <tr v-for="category in categories" :key="category.id">
                  <td>{{ category.title }}</td>
                  <td class="controls">
                    <button
                      class="button is-danger is-outlined is-pulled-right"
                      @click="deleteCategory(category.id)"
                    >
                      <span class="icon">
                        <font-awesome-icon icon="trash" />
                      </span>
                    </button>
                    <button
                      class="button is-primary is-outlined is-pulled-right"
                      @click="openEditCategoryModal(category.id)"
                    >
                      <span class="icon">
                        <font-awesome-icon icon="pen" />
                      </span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal" id="addModal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Добавить новый товар</p>
            <button
              class="delete"
              aria-label="close"
              @click="closeModal"
            ></button>
          </header>
          <section class="modal-card-body">
            <div class="columns modalColumns">
              <div class="column">
                <label for="title">Название</label>
                <input
                  type="text"
                  name="title"
                  id="title"
                  class="input"
                  v-model="newProductTitle"
                />
                <label>Категория</label>
                <div class="select is-fullwidth">
                  <select v-model="newProductGender">
                    <option disabled selected value>Выберите категорию</option>
                    <option value="Для мужчин">Для мужчин</option>
                    <option value="Для женщин">Для женщин</option>
                    <option value="Унисекс">Унисекс</option>
                  </select>
                </div>
                <label>Выводить размер одежды?</label>
                <div class="control">
                  <label class="radio">
                    <input
                      type="radio"
                      name="answer"
                      v-model="newProductSize"
                      value="Да"
                    />
                    Да
                  </label>
                  <label class="radio">
                    <input
                      type="radio"
                      name="answer"
                      v-model="newProductSize"
                      value="Нет"
                    />
                    Нет
                  </label>
                </div>
              </div>
              <div class="column">
                <label for="price">Цена</label>
                <div class="field has-addons">
                  <p class="control">
                    <input
                      class="input"
                      type="text"
                      name="price"
                      id="price"
                      v-model="newProductPrice"
                    />
                  </p>
                  <p class="control">
                    <a class="button is-static">₽</a>
                  </p>
                </div>
                <label>Подкатегория</label>
                <div class="select is-fullwidth">
                  <select v-model="newProductCategory">
                    <option disabled selected value
                      >Выберите подкатегорию</option
                    >
                    <option
                      :value="category.title"
                      v-for="category in categories"
                      :key="category.id"
                      >{{ category.title }}</option
                    >
                  </select>
                </div>
              </div>
            </div>
            <label for="photoLink">Фотография</label>
            <input
              type="text"
              class="input"
              name="photoLink"
              id="photoLink"
              placeholder="Ссылка на изображение"
              v-model="newProductPhotoLink"
            />
            <label for="description">Описание</label>
            <textarea
              type="text"
              class="textarea"
              name="description"
              id="description"
              placeholder="Введите описание"
              v-model="newProductDescription"
            />
          </section>
          <footer class="modal-card-foot">
            <button
              class="button is-primary"
              id="addNewProduct"
              @click="addProduct"
            >
              Сохранить
            </button>
            <button class="button is-danger is-outlined" @click="closeModal">
              Отмена
            </button>
          </footer>
        </div>
      </div>
      <div class="modal" id="editCategoriesPhotoModal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Изменить фото категорий</p>
            <button
              class="delete"
              aria-label="close"
              @click="closeModal"
            ></button>
          </header>
          <section class="modal-card-body">
            <label for="categoryPhotoLink">Для мужчин</label>
            <input
              type="text"
              name="categoryPhotoLink"
              id="categoryPhotoLink"
              class="input"
              v-model="manCategoryPhotoLink"
            />
            <label for="categoryPhotoLink">Для женщин</label>
            <input
              type="text"
              name="categoryPhotoLink"
              id="categoryPhotoLink"
              class="input"
              v-model="womanCategoryPhotoLink"
            />
          </section>
          <footer class="modal-card-foot">
            <button
              class="button is-primary"
              id="editCategoriesPhotos"
              @click="editCategoriesPhotos"
            >
              Сохранить
            </button>
            <button class="button is-danger is-outlined" @click="closeModal">
              Отмена
            </button>
          </footer>
        </div>
      </div>

      <div class="modal" id="addBrandModal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Добавить новый слайд</p>
            <button
              class="delete"
              aria-label="close"
              @click="closeModal"
            ></button>
          </header>
          <section class="modal-card-body">
            <label for="brandTitle">Название бренда</label>
            <input
              type="text"
              name="brandTitle"
              id="brandTitle"
              class="input"
              v-model="newBrandTitle"
            />
          </section>
          <footer class="modal-card-foot">
            <button
              class="button is-primary"
              id="addNewBrand"
              @click="addBrand"
            >
              Сохранить
            </button>
            <button class="button is-danger is-outlined" @click="closeModal">
              Отмена
            </button>
          </footer>
        </div>
      </div>

      <div class="modal" id="addSlideModal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Добавить новый слайд</p>
            <button
              class="delete"
              aria-label="close"
              @click="closeModal"
            ></button>
          </header>
          <section class="modal-card-body">
            <label for="slideTitle">Заголовок</label>
            <input
              type="text"
              name="slideTitle"
              id="slideTitle"
              class="input"
              v-model="newSlideTitle"
            />
            <label for="slideTitle">Подзаголовок</label>
            <textarea
              type="text"
              name="slideSubtitle"
              id="slideSubtitle"
              class="textarea"
              v-model="newSlideSubtitle"
            />
            <label for="slideLink">Ссылка на изображение</label>
            <input
              type="text"
              name="slideLink"
              id="slideLink"
              class="input"
              v-model="newSlideLink"
            />
            <label for="slideButton">Надпись на кнопке</label>
            <input
              type="text"
              name="slideButton"
              id="slideButton"
              class="input"
              v-model="newSlideButton"
            />
          </section>
          <footer class="modal-card-foot">
            <button
              class="button is-primary"
              id="addNewSlide"
              @click="addSlide"
            >
              Сохранить
            </button>
            <button class="button is-danger is-outlined" @click="closeModal">
              Отмена
            </button>
          </footer>
        </div>
      </div>

      <div class="modal" id="editSlideModal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Изменить слайд</p>
            <button
              class="delete"
              aria-label="close"
              @click="closeModal"
            ></button>
          </header>
          <section class="modal-card-body">
            <label for="slideTitle">Заголовок</label>
            <input
              type="text"
              name="slideTitle"
              id="slideTitle"
              class="input"
              v-model="newSlideTitle"
            />
            <label for="slideTitle">Подзаголовок</label>
            <textarea
              type="text"
              name="slideSubtitle"
              id="slideSubtitle"
              class="textarea"
              v-model="newSlideSubtitle"
            />
            <label for="slideLink">Ссылка на изображение</label>
            <input
              type="text"
              name="slideLink"
              id="slideLink"
              class="input"
              v-model="newSlideLink"
            />
            <label for="slideButton">Надпись на кнопке</label>
            <input
              type="text"
              name="slideButton"
              id="slideButton"
              class="input"
              v-model="newSlideButton"
            />
          </section>
          <footer class="modal-card-foot">
            <button class="button is-primary" id="editSlide" @click="editSlide">
              Сохранить
            </button>
            <button class="button is-danger is-outlined" @click="closeModal">
              Отмена
            </button>
          </footer>
        </div>
      </div>

      <div class="modal" id="editBrandModal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Изменить слайд</p>
            <button
              class="delete"
              aria-label="close"
              @click="closeModal"
            ></button>
          </header>
          <section class="modal-card-body">
            <label for="brandTitle">Заголовок</label>
            <input
              type="text"
              name="brandTitle"
              id="brandTitle"
              class="input"
              v-model="newBrandTitle"
            />
          </section>
          <footer class="modal-card-foot">
            <button class="button is-primary" id="editBrand" @click="editBrand">
              Сохранить
            </button>
            <button class="button is-danger is-outlined" @click="closeModal">
              Отмена
            </button>
          </footer>
        </div>
      </div>

      <div class="modal" id="addCategoryModal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Добавить новую категорию</p>
            <button
              class="delete"
              aria-label="close"
              @click="closeModal"
            ></button>
          </header>
          <section class="modal-card-body">
            <label for="categoryTitle">Название</label>
            <input
              type="text"
              name="categoryTitle"
              id="categoryTitle"
              class="input"
              v-model="newCategoryTitle"
            />
          </section>
          <footer class="modal-card-foot">
            <button
              class="button is-primary"
              id="addNewCategory"
              @click="addCategory"
            >
              Сохранить
            </button>
            <button class="button is-danger is-outlined" @click="closeModal">
              Отмена
            </button>
          </footer>
        </div>
      </div>
      <div class="modal" id="editCategoryModal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Изменить категорию</p>
            <button
              class="delete"
              aria-label="close"
              @click="closeModal"
            ></button>
          </header>
          <section class="modal-card-body">
            <label for="categoryTitle">Название</label>
            <input
              type="text"
              name="categoryTitle"
              id="editCategoryTitle"
              class="input is-loading"
              v-model="newCategoryTitle"
            />
          </section>
          <footer class="modal-card-foot">
            <button
              class="button is-primary"
              id="editCategory"
              @click="editCategory"
            >
              Сохранить
            </button>
            <button class="button is-danger is-outlined" @click="closeModal">
              Отмена
            </button>
          </footer>
        </div>
      </div>
      <div class="modal" id="editModal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Изменить товар</p>
            <button
              class="delete"
              aria-label="close"
              @click="closeModal"
            ></button>
          </header>
          <section class="modal-card-body">
            <div class="columns modalColumns">
              <div class="column">
                <label for="editProductTitle">Название</label>
                <input
                  type="text"
                  name="title"
                  id="editProductTitle"
                  class="input"
                  v-model="newProductTitle"
                />
                <label>Категория</label>
                <div class="select is-fullwidth">
                  <select v-model="newProductGender">
                    <option disabled selected value>Выберите категорию</option>
                    <option value="Для мужчин">Для мужчин</option>
                    <option value="Для женщин">Для женщин</option>
                    <option value="Унисекс">Унисекс</option>
                  </select>
                </div>
                <label>Выводить размер одежды?</label>
                <div class="control">
                  <label class="radio">
                    <input
                      type="radio"
                      name="answer"
                      v-model="newProductSize"
                      value="Да"
                    />
                    Да
                  </label>
                  <label class="radio">
                    <input
                      type="radio"
                      name="answer"
                      v-model="newProductSize"
                      value="Нет"
                    />
                    Нет
                  </label>
                </div>
              </div>
              <div class="column">
                <label for="editProductPrice">Цена</label>
                <div class="field has-addons">
                  <p class="control">
                    <input
                      class="input"
                      type="text"
                      name="price"
                      id="editProductPrice"
                      v-model="newProductPrice"
                    />
                  </p>
                  <p class="control">
                    <a class="button is-static">₽</a>
                  </p>
                </div>
                <label for="title">Категория</label>
                <div class="select is-fullwidth">
                  <select v-model="newProductCategory">
                    <option disabled selected>Выберите категорию</option>
                    <option
                      :value="category.title"
                      v-for="category in categories"
                      :key="category.id"
                      >{{ category.title }}</option
                    >
                  </select>
                </div>
              </div>
            </div>
            <label for="photoLink">Фотография</label>
            <input
              type="text"
              class="input"
              name="photoLink"
              id="photoLink"
              placeholder="Ссылка на изображение"
              v-model="newProductPhotoLink"
            />
            <textarea
              type="text"
              class="textarea"
              name="description"
              id="description"
              placeholder="Введите описание"
              v-model="newProductDescription"
            />
          </section>
          <footer class="modal-card-foot">
            <button
              class="button is-primary"
              id="editNewProduct"
              @click="editProduct()"
            >
              Сохранить
            </button>
            <button class="button is-danger is-outlined" @click="closeModal">
              Отмена
            </button>
          </footer>
        </div>
      </div>
      <div class="box">
        <div>
          <h4 class="title is-4 is-inline">Товары</h4>
          <button class="button is-primary is-pulled-right" @click="openModal">
            <span class="icon">
              <font-awesome-icon icon="plus" />
            </span>
            <span>Добавить</span>
          </button>
          <table class="table is-fullwidth is-hoverable">
            <thead>
              <tr>
                <th>Фото</th>
                <th>Название</th>
                <th>Цена</th>
                <th>Категория</th>
                <th>Подкатегория</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="product in products" :key="product.id">
                <td>
                  <img :src="product.photoLink" alt class="image is-128x128" />
                </td>
                <td>{{ product.title }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.gender }}</td>
                <td>{{ product.category }}</td>
                <td class="controls">
                  <button
                    class="button is-danger is-outlined is-pulled-right"
                    @click="deleteProduct(product.id)"
                  >
                    <span class="icon">
                      <font-awesome-icon icon="trash" />
                    </span>
                  </button>
                  <button
                    class="button is-primary is-outlined is-pulled-right"
                    @click="openEditModal(product.id)"
                  >
                    <span class="icon">
                      <font-awesome-icon icon="pen" />
                    </span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import firebase from "firebase";
import { db } from "../components/firebase";

export default {
  name: "admin",
  components: {
    Header
  },
  data() {
    return {
      products: [],
      categories: [],
      slides: [],
      brands: [],
      newProductTitle: "",
      newProductPrice: "",
      newProductCategory: "",
      newProductGender: "",
      newProductPhotoLink: "",
      newProductDescription: "",
      newProductSize: "",
      editProductID: "",
      newCategoryTitle: "",
      editCategoryID: "",
      newSlideTitle: "",
      newSlideSubtitle: "",
      newSlideLink: "",
      newSlideButton: "",
      editSlideID: "",
      manCategoryPhotoLink: "",
      womanCategoryPhotoLink: "",
      newBrandTitle: "",
      editBrandID: ""
    };
  },
  firestore: {
    products: db.collection("products").orderBy("time"),
    categories: db.collection("categories"),
    slides: db.collection("slides").orderBy("time"),
    brands: db.collection("brands").orderBy("title")
  },
  methods: {
    logout() {
      firebase.auth().signOut();
      location.reload();
    },
    openModal() {
      this.newProductTitle = "";
      this.newProductPrice = "";
      this.newProductCategory = "";
      this.newProductGender = "";
      this.newProductPhotoLink = "";
      this.newProductDescription = "";
      this.newCategoryTitle = "";
      this.newProductSize = "";
      document.getElementById("addModal").classList.add("is-active");
    },
    closeModal() {
      document.getElementById("addModal").classList.remove("is-active");
      document.getElementById("editModal").classList.remove("is-active");
      document.getElementById("addCategoryModal").classList.remove("is-active");
      document.getElementById("addSlideModal").classList.remove("is-active");
      document.getElementById("addBrandModal").classList.remove("is-active");
      document
        .getElementById("editCategoryModal")
        .classList.remove("is-active");
      document.getElementById("editSlideModal").classList.remove("is-active");
      document.getElementById("editBrandModal").classList.remove("is-active");
      this.newProductTitle = "";
      this.newProductPrice = "";
      this.newProductCategory = "";
      this.newProductGender = "";
      this.newProductPhotoLink = "";
      this.newProductDescription = "";
      this.newProductSize = "";
      this.newCategoryTitle = "";
      this.newSlideTitle = "";
      this.newSlideSubtitle = "";
      this.newSlideLink = "";
      this.newSlideButton = "";
      this.newBrandTitle = "";
    },
    addProduct() {
      document.getElementById("addNewProduct").classList.add("is-loading");
      db.collection("products")
        .add({
          title: this.newProductTitle,
          price: this.newProductPrice + "₽",
          category: this.newProductCategory,
          gender: this.newProductGender,
          photoLink: this.newProductPhotoLink,
          description: this.newProductDescription,
          size: this.newProductSize,
          time: firebase.firestore.FieldValue.serverTimestamp()
        })
        .then(function() {
          document.getElementById("addModal").classList.remove("is-active");
          document
            .getElementById("addNewProduct")
            .classList.remove("is-loading");
        });
    },
    deleteProduct(productID) {
      db.collection("products")
        .doc(productID)
        .delete();
    },
    openEditModal(productID) {
      document.getElementById("editModal").classList.add("is-active");
      db.collection("products")
        .doc(productID)
        .get()
        .then(snapshot => {
          const document = snapshot.data();
          this.newProductTitle = document.title;
          this.newProductPrice = document.price.slice(0, -1);
          this.newProductCategory = document.category;
          this.newProductGender = document.gender;
          this.newProductPhotoLink = document.photoLink;
          this.newProductDescription = document.description;
          this.newProductSize = document.size;
          this.editProductID = productID;
        });
    },
    openCategoriesPhotosModal() {
      document
        .getElementById("editCategoriesPhotoModal")
        .classList.add("is-active");
      db.collection("categories-photos")
        .doc("man")
        .get()
        .then(snapshot => {
          const document = snapshot.data();
          this.manCategoryPhotoLink = document.link;
        });
      db.collection("categories-photos")
        .doc("woman")
        .get()
        .then(snapshot => {
          const document = snapshot.data();
          this.womanCategoryPhotoLink = document.link;
        });
    },
    editProduct() {
      document.getElementById("editNewProduct").classList.add("is-loading");
      db.collection("products")
        .doc(this.editProductID)
        .update({
          title: this.newProductTitle,
          price: this.newProductPrice + "₽",
          category: this.newProductCategory,
          gender: this.newProductGender,
          photoLink: this.newProductPhotoLink,
          description: this.newProductDescription,
          size: this.newProductSize
        })
        .then(function() {
          document.getElementById("editModal").classList.remove("is-active");
          document
            .getElementById("editNewProduct")
            .classList.remove("is-loading");
          this.newProductTitle = "";
          this.newProductPrice = "";
          this.newProductCategory = "";
          this.newProductGender = "";
          this.newProductPhotoLink = "";
          this.newProductDescription = "";
        });
    },
    editCategoriesPhotos() {
      document
        .getElementById("editCategoriesPhotos")
        .classList.add("is-loading");
      db.collection("categories-photos")
        .doc("man")
        .update({
          link: this.manCategoryPhotoLink
        });
      db.collection("categories-photos")
        .doc("woman")
        .update({
          link: this.womanCategoryPhotoLink
        })
        .then(function() {
          document
            .getElementById("editCategoriesPhotoModal")
            .classList.remove("is-active");
          document
            .getElementById("editCategoriesPhotos")
            .classList.remove("is-loading");
          this.manCategoryPhotoLink = "";
          this.womanCategoryPhotoLink = "";
        });
    },
    openCategoryModal() {
      document.getElementById("addCategoryModal").classList.add("is-active");
    },
    openSlideModal() {
      document.getElementById("addSlideModal").classList.add("is-active");
    },
    openBrandModal() {
      document.getElementById("addBrandModal").classList.add("is-active");
    },
    addCategory() {
      document.getElementById("addNewCategory").classList.add("is-loading");
      db.collection("categories")
        .add({
          title: this.newCategoryTitle
        })
        .then(function() {
          document
            .getElementById("addCategoryModal")
            .classList.remove("is-active");
          document
            .getElementById("addNewCategory")
            .classList.remove("is-loading");
        });
      this.newCategoryTitle = "";
    },
    addSlide() {
      document.getElementById("addNewSlide").classList.add("is-loading");
      db.collection("slides")
        .add({
          title: this.newSlideTitle,
          subtitle: this.newSlideSubtitle,
          link: this.newSlideLink,
          button: this.newSlideButton,
          time: firebase.firestore.FieldValue.serverTimestamp()
        })
        .then(function() {
          document
            .getElementById("addSlideModal")
            .classList.remove("is-active");
          document.getElementById("addNewSlide").classList.remove("is-loading");
        });
      this.newSlideTitle = "";
      this.newSlideSubtitle = "";
      this.newSlideLink = "";
      this.newSlideButton = "";
    },
    addBrand() {
      document.getElementById("addNewBrand").classList.add("is-loading");
      db.collection("brands")
        .add({
          title: this.newBrandTitle
        })
        .then(function() {
          document
            .getElementById("addBrandModal")
            .classList.remove("is-active");
          document.getElementById("addNewBrand").classList.remove("is-loading");
        });
      this.newBrandTitle = "";
    },
    deleteCategory(categoryID) {
      db.collection("categories")
        .doc(categoryID)
        .delete();
    },
    deleteSlide(slideID) {
      db.collection("slides")
        .doc(slideID)
        .delete();
    },
    deleteBrand(brandID) {
      db.collection("brands")
        .doc(brandID)
        .delete();
    },
    openEditCategoryModal(categoryID) {
      document.getElementById("editCategoryModal").classList.add("is-active");
      db.collection("categories")
        .doc(categoryID)
        .get()
        .then(snapshot => {
          const document = snapshot.data();
          this.newCategoryTitle = document.title;
        });
      this.editCategoryID = categoryID;
    },
    openEditSlideModal(slideID) {
      document.getElementById("editSlideModal").classList.add("is-active");
      db.collection("slides")
        .doc(slideID)
        .get()
        .then(snapshot => {
          const document = snapshot.data();
          this.newSlideTitle = document.title;
          this.newSlideSubtitle = document.subtitle;
          this.newSlideLink = document.link;
          this.newSlideButton = document.button;
        });
      this.editSlideID = slideID;
    },
    openEditBrandModal(brandID) {
      document.getElementById("editBrandModal").classList.add("is-active");
      db.collection("brands")
        .doc(brandID)
        .get()
        .then(snapshot => {
          const document = snapshot.data();
          this.newBrandTitle = document.title;
        });
      this.editBrandID = brandID;
    },
    editCategory() {
      document.getElementById("editCategory").classList.add("is-loading");
      db.collection("categories")
        .doc(this.editCategoryID)
        .update({
          title: this.newCategoryTitle
        })
        .then(function() {
          document
            .getElementById("editCategoryModal")
            .classList.remove("is-active");
          document
            .getElementById("editCategory")
            .classList.remove("is-loading");
        });
      this.newCategoryTitle = "";
    },
    editSlide() {
      document.getElementById("editSlide").classList.add("is-loading");
      db.collection("slides")
        .doc(this.editSlideID)
        .update({
          title: this.newSlideTitle,
          subtitle: this.newSlideSubtitle,
          link: this.newSlideLink,
          button: this.newSlideButton
        })
        .then(function() {
          document
            .getElementById("editSlideModal")
            .classList.remove("is-active");
          document.getElementById("editSlide").classList.remove("is-loading");
        });
      this.newSlideTitle = "";
      this.newSlideSubtitle = "";
      this.newSlideLink = "";
      this.newSlideButton = "";
    },
    editBrand() {
      document.getElementById("editBrand").classList.add("is-loading");
      db.collection("brands")
        .doc(this.editBrandID)
        .update({
          title: this.newBrandTitle
        })
        .then(function() {
          document
            .getElementById("editBrandModal")
            .classList.remove("is-active");
          document.getElementById("editBrand").classList.remove("is-loading");
        });
      this.newBrandTitle = "";
    }
  }
};
</script>

<style lang="scss" scoped>
$black: #16161d;
$primary: $black;
$title-color: $black;
$family-primary: "Montserrat", sans-serif;
$radius: 0px;
$radius-large: 0px;

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap&subset=cyrillic");
@import "~bulma/bulma";

.header {
  margin-bottom: 50px;
}

.field:not(:last-child) {
  margin-bottom: 0;
}

.table {
  margin-top: 20px;
}

button {
  margin-left: 10px;
}

input {
  margin-bottom: 10px;
}

.controls {
  width: 116px;
}

.modalColumns {
  margin-bottom: 0;
}

.select {
  margin-bottom: 10px;
}
</style>
