<template>
  <div>
    <Header :product-category="$route.params.productCategory" />
    <div class="background" :class="{ active: isFilterOpened }"></div>
    <div class="catalog">
      <div class="container">
        <div class="filters-popup" :class="{ active: isFilterOpened }">
          <div class="head">
            <h2>Фильтры</h2>
            <h2 @click="isFilterOpened = !isFilterOpened" class="close-sign">
              Закрыть
            </h2>
            <div @click="isFilterOpened = !isFilterOpened" class="close-button">
              <svg
                width="14"
                height="14"
                viewBox="0 0 14 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  x="2.05078"
                  y="0.63623"
                  width="16"
                  height="2"
                  transform="rotate(45 2.05078 0.63623)"
                  fill="#1a1a1a"
                />
                <rect
                  x="0.636719"
                  y="11.9502"
                  width="16"
                  height="2"
                  transform="rotate(-45 0.636719 11.9502)"
                  fill="#1a1a1a"
                />
              </svg>
            </div>
          </div>
          <h3>Бренды</h3>
          <div
            class="brands-container"
            :class="{ hidden: isBrandsOpen && Object.keys(brands).length > 0 }"
          >
            <div class="tag" v-for="brand in brandsSearch" :key="brand.id">
              <p>{{ brand }}</p>
            </div>
            <button class="add-brand" @click="isBrandsOpen = !isBrandsOpen">
              +
            </button>
          </div>
          <div class="brands" :class="{ active: isBrandsOpen }">
            <p
              @click="addBrand(brand.title)"
              v-for="brand in brands"
              :key="brand.id"
            >
              {{ brand.title }}
            </p>
          </div>
          <h3>Цена</h3>
          <div class="text">
            <p>
              {{ priceRange[0] }}
              <span>₽</span>
            </p>

            <p>
              {{ priceRange[1] }}
              <span>₽</span>
            </p>
          </div>
          <vue-slider
            class="slider"
            :height="2"
            :max="50000"
            :interval="100"
            v-model="priceRange"
          ></vue-slider>
        </div>
        <div class="head">
          <h1>
            <i>
              <span>#</span>
            </i>
            <i>{{ $route.params.productCategory }}</i>
          </h1>
          <div
            class="filters-container"
            @click="isFilterOpened = !isFilterOpened"
          >
            <p class="filters">Фильтры</p>
            <div class="icon">
              <svg
                xmlns:figma="http://www.figma.com/figma/ns"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                x="0px"
                y="0px"
                viewBox="0 0 50 62.5"
                style="enable-background:new 0 0 50 50;"
                xml:space="preserve"
              >
                <path
                  d="M2,14h4.2c1,5.7,5.9,10,11.8,10s10.9-4.3,11.8-10H48c1.1,0,2-0.9,2-2s-0.9-2-2-2H29.8C28.9,4.3,23.9,0,18,0S7.1,4.3,6.2,10  H2c-1.1,0-2,0.9-2,2S0.9,14,2,14z M18,4c4.4,0,8,3.6,8,8s-3.6,8-8,8s-8-3.6-8-8S13.6,4,18,4z"
                />
                <path
                  d="M48,36h-4.2c-1-5.7-5.9-10-11.8-10s-10.9,4.3-11.8,10H2c-1.1,0-2,0.9-2,2s0.9,2,2,2h18.2c1,5.7,5.9,10,11.8,10  s10.9-4.3,11.8-10H48c1.1,0,2-0.9,2-2S49.1,36,48,36z M32,46c-4.4,0-8-3.6-8-8s3.6-8,8-8s8,3.6,8,8S36.4,46,32,46z"
                />
              </svg>
            </div>
          </div>
          <input
            type="text"
            class="search-bar"
            placeholder="Поиск по каталогу"
            v-model="search"
          />
          <button class="search">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 100 125"
              version="1.1"
              x="0px"
              y="0px"
            >
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g fill-rule="nonzero" fill="#000000">
                  <path
                    d="M59.8821251,53.9280906 C59.5250054,54.5161476 59.6352824,55.3926417 60.112803,55.8701623 L69.1213203,64.8786797 C70.2928932,66.0502525 70.2928932,67.9497475 69.1213203,69.1213203 C67.9497475,70.2928932 66.0502525,70.2928932 64.8786797,69.1213203 L55.8701623,60.112803 C55.3856427,59.6282834 54.512258,59.5322646 53.9160352,59.8886056 C53.9160352,59.8886056 53.6953024,60.0525756 53.0022443,60.3904403 C50.887289,61.4214776 48.5112051,62 46,62 C37.163444,62 30,54.836556 30,46 C30,37.163444 37.163444,30 46,30 C54.836556,30 62,37.163444 62,46 C62,48.5201167 61.4173643,50.9041515 60.3794465,53.0247508 C60.0442002,53.7097021 59.8821251,53.9280906 59.8821251,53.9280906 Z M46,56 C51.5228475,56 56,51.5228475 56,46 C56,40.4771525 51.5228475,36 46,36 C40.4771525,36 36,40.4771525 36,46 C36,51.5228475 40.4771525,56 46,56 Z"
                  />
                </g>
              </g>
            </svg>
          </button>
        </div>
        <div class="products">
          <div
            class="loading"
            :class="{ hidden: Object.keys(products).length > 0 }"
          >
            <img
              src="../assets/loading.svg"
              alt="Загрузка..."
              class="loading-light"
            />
            <img
              src="../assets/loading-dark.svg"
              alt="Загрузка..."
              class="loading-dark"
            />
          </div>
          <router-link
            class="product-card"
            v-for="product in products"
            v-show="
              (product.category == $route.params.productCategory ||
                $route.params.productCategory == 'Все товары') &&
                (product.gender == $route.params.productGender ||
                  $route.params.productGender == 'Любой пол' ||
                  product.gender == 'Унисекс') &&
                parseInt(product.price.slice(0, -1)) > priceRange[0] &&
                parseInt(product.price.slice(0, -1)) < priceRange[1] &&
                (product.title.toLowerCase().includes(search.toLowerCase()) ||
                  search == '') &&
                (checkBrand(product.title) ||
                  Object.keys(brandsSearch).length == 0)
            "
            :key="product.id"
            :to="{
              name: 'product',
              params: {
                productId: product.id,
                productCategory: product.category
              }
            }"
          >
            <img :src="product.photoLink" alt />
            <p>
              <i>{{ product.price }}</i>
            </p>
            <h3 class="title is-5 has-text-centered">{{ product.title }}</h3>
            <span>
              <i>Купить</i>
            </span>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import { db } from "../components/firebase";
import VueSlider from "vue-slider-component";
import "../global-styles/default.css";

export default {
  name: "search",
  components: {
    Header,
    VueSlider
  },
  data() {
    return {
      products: [],
      brands: [],
      productAmount: 9,
      priceRange: [0, 50000],
      isFilterOpened: false,
      search: "",
      isBrandsOpen: false,
      brandsSearch: []
    };
  },
  firestore: {
    products: db.collection("products").orderBy("time"),
    brands: db.collection("brands").orderBy("title")
  },
  mounted() {
    window.scrollTo(0, 0);
  },
  methods: {
    addBrand(brandTitle) {
      this.brandsSearch.push(brandTitle);
      let brand = {};
      for (brand of this.brands) {
        const index = brand.title.indexOf(brandTitle);
        if (index > -1) {
          this.brands.splice(index, 1);
        }
      }
      this.isBrandsOpen = false;
    },
    checkBrand(productTitle) {
      let counter = 0;
      let brand;
      for (brand of this.brandsSearch) {
        if (productTitle.toLowerCase().includes(brand.toLowerCase())) {
          counter += 1;
        }
      }
      return counter > 0;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "@/global-styles/elements.scss";

.background {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  transition: all 0.2s ease;
  opacity: 0;
  pointer-events: none;

  &.active {
    opacity: 1;
  }
}

.catalog {
  border-top: 1px solid #ccc;
  padding-top: 60px;

  .container {
    .filters-popup {
      pointer-events: none;
      z-index: 6;
      opacity: 0;
      width: 600px;
      background: $white-background;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.2s ease;
      padding: 30px;
      padding-bottom: 50px;

      .head {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 25px;

        h2 {
          font-size: 28px;
        }

        .close-button {
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: all 0.2s ease;

          &:hover {
            transform: scale(1.2);
          }
        }

        .close-sign {
          display: none;
        }
      }

      .brands-container {
        display: flex;

        &.hidden {
          opacity: 0;
          pointer-events: none;
        }

        .add-brand {
          width: 20px;
          height: 20px;
          background: #e6e6e6;
          border: none;
          color: $black;
          font-size: 16px;
          border-radius: 50%;
          margin-top: 5px;
          cursor: pointer;
          transition: all 0.2s ease;

          &:hover {
            background: #ddd;
          }
        }

        .tag {
          height: 20px;
          background: #e6e6e6;
          color: $black;
          font-size: 16px;
          border-radius: 10px;
          margin-top: 5px;
          margin-right: 5px;
          display: flex;
          padding: 0 10px;
        }
      }

      .brands {
        box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
        margin-top: -20px;
        z-index: 8;
        background: $white-background;
        opacity: 0;
        pointer-events: none;
        transition: all 0.2s ease;
        height: 0;

        p {
          padding: 10px 15px;
          transition: all 0.2s ease;
          cursor: pointer;

          &:hover {
            background: #eee;
          }
        }

        &.active {
          opacity: 1;
          pointer-events: all;
          height: auto;
        }
      }

      .slider {
        margin-left: 5px;
        margin-right: 5px;
      }

      .text {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;

        p {
          font-size: 16px;
          font-weight: 700;
        }

        span {
          font-weight: 400;
        }
      }

      h3 {
        font-weight: 400;
        font-size: 18px;
        margin-top: 25px;
      }

      &.active {
        opacity: 1;
        pointer-events: all;
      }
    }

    .head {
      display: flex;
      align-items: center;

      .filters {
        font-size: 18px;
        font-weight: 700;
        color: $black;
        margin-right: 5px;
      }

      .filters-container {
        display: flex;
        align-items: center;
        margin-right: 20px;
        cursor: pointer;

        .icon {
          width: 20px;
          height: 20px;

          svg {
            margin-top: 1px;
          }
        }
      }

      .search-bar {
        height: 45px;
        min-width: 300px;
        font-size: 18px;
        border: none;
        background: #eee;
        transition: all 0.2s ease;
        border: 2px solid #eee;
        border-right: none;
        padding: 10px;

        &:hover {
          background: #eaeaea;
          border-color: #eaeaea;
        }

        &:focus {
          outline: none;
          border-color: $black;
          background: $white;
        }
      }

      .search {
        height: 45px;
        width: 45px;
        background: $black;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease;

        svg g g {
          fill: $white;
        }

        &:hover {
          background: #333333;
        }
      }

      .slider {
        width: calc(100% / 3 - 10px);

        .text {
          display: flex;
          justify-content: space-between;
          margin-bottom: 15px;

          p {
            font-size: 16px;
            font-weight: 700;
          }

          span {
            font-weight: 400;
          }
        }
      }

      h1 {
        font-size: 36px;
        color: $black;
        text-transform: uppercase;
        margin-right: auto;

        span {
          color: $light-main;
        }
      }
    }

    .products {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 50px;
      position: relative;
      min-height: 230px;

      .loading {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        position: absolute;
        background: $white-background;
        z-index: 1;
        pointer-events: all;
        user-select: none;
        transition: all 0.2s ease;
        top: 0;
        min-height: 300px;

        &.hidden {
          opacity: 0;
          z-index: -1;
          pointer-events: none;
        }

        img {
          width: 50px;
          height: 50px;
        }

        .loading-dark {
          display: none;
        }
      }

      .product-card {
        width: 370px;
        position: relative;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        margin-bottom: 50px;
        margin-right: auto;
        margin-left: auto;

        &:hover {
          span {
            opacity: 1;
          }

          img {
            border-color: $light-main;
          }
        }

        img {
          width: 370px;
          height: 370px;
          border: 1px solid #cccccc;
          transition: all 0.2s ease;
        }

        p {
          font-size: 24px;
          color: $black;
          font-weight: 700;
          margin-top: 12px;
          margin-bottom: 10px;
        }

        h3 {
          font-size: 16px;
          color: $black;
          font-weight: 400;
        }

        span {
          font-size: 20px;
          color: $light-main;
          font-weight: 700;
          position: absolute;
          right: 20px;
          top: 325px;
          opacity: 0;
          transition: all 0.2s ease;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .catalog {
    padding-top: 40px;

    .container {
      padding-left: 32px;
      padding-right: 32px;

      .products {
        margin-top: 40px;

        .product-card {
          width: 290px;
          margin-bottom: 40px;

          img {
            width: 290px;
            height: 290px;
          }

          p {
            margin-top: 5px;
            margin-bottom: 5px;
          }

          span {
            top: 255px;
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .catalog {
    .container {
      .products {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .catalog {
    .container {
      .products {
        grid-template-columns: 1fr 1fr 1fr;

        .product-card {
          width: 225px;

          img {
            width: 225px;
            height: 225px;
          }

          span {
            top: 195px;
            font-size: 14px;
            right: 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .catalog {
    .container {
      .products {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .catalog {
    padding-top: 30px;

    .container {
      padding-left: 16px;
      padding-right: 16px;

      .filters-popup {
        width: 100%;
        height: 140px;
        background: $white-background;
        bottom: -100%;
        left: 0;
        transition: all 0.2s ease;
        padding: 15px;
        transform: translate(0, 0);
        top: unset;

        .head {
          display: flex;

          .close-button {
            display: none;
          }

          .close-sign {
            display: block;
            margin-left: auto;
            font-weight: 400;
            cursor: pointer;
          }

          h2 {
            font-size: 12px;
          }
        }

        &.active {
          bottom: 0;
        }
      }

      .head {
        .filters {
          font-size: 12px;
        }

        .slider {
          display: none;
        }

        h1 {
          font-size: 24px;
        }
      }

      .products {
        margin-top: 30px;
        grid-template-columns: 1fr;

        .product-card {
          width: 290px;
          margin-bottom: 20px;

          img {
            width: 290px;
            height: 290px;
          }

          span {
            top: 255px;
            right: 20px;
          }
        }
      }
    }
  }
}

@media screen and (prefers-color-scheme: dark) {
  .catalog {
    border-top: 1px solid #444;

    .container {
      .filters-popup {
        background: $dark-background;

        .head h2 {
          color: $white;
        }

        .text p {
          color: $white;
        }
      }

      .head {
        .filters {
          color: $white;
        }

        .slider .text p {
          color: $white;
        }

        h1 {
          color: $white;

          span {
            color: $dark-main;
          }
        }
      }

      .products {
        .loading {
          background: $black-background;

          .loading-dark {
            display: block;
          }

          .loading-light {
            display: none;
          }
        }

        .product-card {
          p {
            color: $white;
          }

          h3 {
            color: $white;
          }
        }
      }
    }
  }
}
</style>
