<template>
  <div>
    <Header :product-category="'Все категории'" />
    <div class="categories">
      <div class="container">
        <div class="gender-select" :class="{ active: pickedGender == '' }">
          <div
            class="gender"
            :style="{
              background:
                'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(' +
                manCategoryPhoto +
                ') no-repeat center center / cover'
            }"
            @click="pickedGender = 'Для мужчин'"
          >
            Для мужчин
          </div>
          <div
            class="gender"
            :style="{
              background:
                'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(' +
                womanCategoryPhoto +
                ') no-repeat center center / cover'
            }"
            @click="pickedGender = 'Для женщин'"
          >
            Для женщин
          </div>
        </div>
        <div class="links" :class="{ hidden: pickedGender == '' }">
          <router-link
            class="link"
            v-for="category in categories"
            :key="category.id"
            :to="{
              name: 'catalog',
              params: {
                productCategory: category.title,
                productGender: pickedGender
              }
            }"
            >{{ category.title }}</router-link
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import { db } from "../components/firebase";

export default {
  data() {
    return {
      categories: [],
      pickedGender: "",
      manCategoryPhoto: "",
      womanCategoryPhoto: ""
    };
  },
  firestore: {
    categories: db.collection("categories")
  },
  components: {
    Header
  },
  mounted() {
    db.collection("categories-photos")
      .doc("man")
      .get()
      .then(snapshot => {
        const document = snapshot.data();
        this.manCategoryPhoto = document.link;
      });
    db.collection("categories-photos")
      .doc("woman")
      .get()
      .then(snapshot => {
        const document = snapshot.data();
        this.womanCategoryPhoto = document.link;
      });
  }
};
</script>

<style lang="scss" scoped>
@import "@/global-styles/elements.scss";

.categories {
  border-top: 1px solid #ccc;
  padding-left: 50px;
  padding-right: 50px;

  .container {
    position: relative;
    padding-top: 80px;
  }
}

.gender-select {
  width: 100%;
  height: 500px;
  position: absolute;
  background: $white-background;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  transition: all 0.2s ease;

  &.active {
    z-index: 4;
    pointer-events: all;
    opacity: 1;
  }

  .gender {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    color: white;
    text-transform: uppercase;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 500px;

  &.hidden {
    min-height: 300px;
    opacity: 0;

    a {
      display: none;
    }
  }

  a {
    text-decoration: none;
    color: $black;
    cursor: pointer;
    font-size: 16px;
    line-height: 140%;
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 15px;
    transition: all 0.2s ease;
    margin-bottom: 20px;
    width: calc(25%);

    &:hover {
      background: $black;
      color: white;
    }
  }
}

@media screen and (max-width: 900px) {
  .gender-select {
    grid-template-columns: 1fr;
    height: 300px;
    grid-gap: 20px;

    .gender {
      font-size: 18px;
    }
  }

  .categories .container {
    padding-top: 40px;
  }

  .links {
    height: auto;
    min-height: 200px;
    flex-direction: row;

    a {
      margin-right: 50px;
      width: 200px;
    }
  }
}

@media screen and (prefers-color-scheme: dark) {
  .gender-select {
    background: $black-background;
  }

  .links a {
    color: $white;

    &:hover {
      background: $white;
      color: $black;
    }
  }

  .categories {
    border-top: 1px solid #444;
  }
}
</style>
