<template>
  <div>
    <Header />
    <Slider />
    <Products />
  </div>
</template>

<script>
// @ is an alias to /src
import Header from "@/components/Header.vue";
import Products from "@/components/Products.vue";
import Slider from "@/components/Slider.vue";

export default {
  name: "home",
  components: {
    Header,
    Products,
    Slider
  }
};
</script>
