<template>
  <div>
    <Header />
    <div class="container is-fluid">
      <div class="login-box">
        <h1 class="title">Авторизация</h1>
        <label for="email">Электронный адрес</label>
        <input
          class="input"
          type="email"
          v-model="email"
          placeholder="support@oonyxx.store"
          id="email"
        />
        <label for="password">Пароль</label>
        <input
          class="input"
          type="password"
          v-model="password"
          placeholder="Не менее 8 символов"
          id="password"
        />
        <button class="button is-primary" id="login" @click="login">
          Войти
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from "firebase";
import router from "../router";
import Header from "@/components/Header.vue";

export default {
  name: "login",
  data() {
    return {
      email: "",
      password: ""
    };
  },
  components: {
    Header
  },
  methods: {
    login: function() {
      document.getElementById("login").classList.add("is-loading");
      firebase
        .auth()
        .signInWithEmailAndPassword(this.email, this.password)
        .then(
          function() {
            router.push("/admin");
          },
          function(err) {
            alert("Ошибка!" + err.message);
            document.getElementById("login").classList.remove("is-loading");
          }
        );
    }
  }
};
</script>

<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap&subset=cyrillic");
@import "~bulma/bulma";

input,
button {
  margin-bottom: 15px;
  width: 100%;
}

.login-box {
  max-width: 300px;
  margin: 50px auto;

  h1 {
    text-align: center;
  }
}
</style>
