<template>
  <div class="container">
    <Header :product-category="$route.params.productCategory" />
    <ProductInfo :product-id="$route.params.productId" />
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import ProductInfo from "@/components/ProductInfo.vue";

export default {
  components: {
    Header,
    ProductInfo
  }
};
</script>

<style lang="scss" scoped></style>
