<template>
  <footer>
    <div class="container">
      <div class="media-container">
        <a class="media" href="https://instagram.com/oonyxx.store">
          <img src="../assets/instagram-logo.svg" alt="instagram" />
          <i>Instagram</i>
        </a>
        <a class="media" href="https://teleg.run/oonyxx">
          <img src="../assets/telegram-logo.svg" alt="telegram" />
          <i>Telegram</i>
        </a>
      </div>
      <nav>
        <router-link
          class="link"
          :to="{
            name: 'catalog',
            params: { productCategory: 'Футболки', productGender: 'Любой пол' }
          }"
          >Футболки</router-link
        >
        <router-link
          class="link"
          :to="{
            name: 'catalog',
            params: { productCategory: 'Худи', productGender: 'Любой пол' }
          }"
          >Худи</router-link
        >
        <router-link
          class="link"
          :to="{
            name: 'catalog',
            params: { productCategory: 'Свитшоты', productGender: 'Любой пол' }
          }"
          >Свитшоты</router-link
        >
        <router-link
          class="link"
          :to="{
            name: 'catalog',
            params: { productCategory: 'Обувь', productGender: 'Любой пол' }
          }"
          >Обувь</router-link
        >
        <router-link
          class="link"
          :to="{
            name: 'catalog',
            params: { productCategory: 'Сумки', productGender: 'Любой пол' }
          }"
          >Сумки</router-link
        >
        <router-link to="/categories" class="link">Все категории</router-link>
      </nav>
      <p class="delivery">Доставляем в любую точку мира</p>
      <div class="copyright">© 2019 Oonyxx.store</div>
    </div>
  </footer>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
@import "@/global-styles/elements.scss";

footer {
  width: 100%;
  height: 280px;
  background: $black;
  margin-top: 140px;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 100px;
    padding-top: 50px;

    .media-container {
      .media {
        display: flex;
        align-items: center;
        text-decoration: none;

        i {
          text-transform: uppercase;
          color: white;
          font-size: 24px;
          margin-left: 10px;
          font-weight: 700;
          transition: all 0.2s ease;
          width: 100%;
        }

        &:hover i {
          color: $light-main;
        }

        &:first-child {
          margin-bottom: 20px;
        }
      }
    }

    nav {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 50px;
      grid-row-gap: 20px;

      a {
        text-decoration: none;
        color: #989898;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 700;
        transition: all 0.2s ease;

        &:hover {
          color: white;
        }
      }
    }

    .delivery {
      font-size: 16px;
      line-height: 150%;
      color: #989898;
    }

    .copyright {
      color: #666;
      font-size: 16px;
      margin-top: 60px;
    }
  }
}

@media screen and (max-width: 1200px) {
  footer {
    margin-top: 80px;

    .container {
      grid-column-gap: 20px;
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}

@media screen and (max-width: 900px) {
  footer {
    height: auto;
    padding-bottom: 50px;
    margin-top: 60px;

    .container {
      grid-template-columns: 1fr 1fr;
      padding-left: 32px;
      padding-right: 32px;
      grid-row-gap: 60px;

      .copyright {
        text-align: right;
        margin-top: 15px;
        margin-right: 30px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  footer {
    padding-bottom: 30px;
    margin-top: 60px;

    .container {
      grid-template-columns: 1fr;
      padding-left: 16px;
      padding-right: 16px;
      grid-row-gap: 40px;

      .media-container .media {
        img {
          width: 20px;
          height: 20px;
        }

        i {
          font-size: 20px;
        }
      }

      nav {
        grid-row-gap: 25px;

        a {
          font-size: 12px;
        }
      }

      .delivery {
        font-size: 14px;
      }

      .copyright {
        text-align: left;
        margin: 0;
      }
    }
  }
}
</style>
