<template>
  <div>
    <div class="background" :class="{ active: isMenuOpened }"></div>
    <div class="container">
      <header>
        <nav>
          <div class="open-menu" @click="isMenuOpened = !isMenuOpened">
            <button
              class="hamburger hamburger--spin"
              :class="{ 'is-active': isMenuOpened }"
              id="menu-button"
            >
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
            <p>Каталог</p>
          </div>
          <router-link
            class="link"
            :to="{
              name: 'catalog',
              params: {
                productCategory: 'Футболки',
                productGender: 'Любой пол'
              }
            }"
            :class="{ picked: productCategory == 'Футболки' }"
            >Футболки</router-link
          >
          <router-link
            class="link"
            :class="{ picked: productCategory == 'Худи' }"
            :to="{
              name: 'catalog',
              params: { productCategory: 'Худи', productGender: 'Любой пол' }
            }"
            >Худи</router-link
          >
          <router-link
            class="link"
            :class="{ picked: productCategory == 'Свитшоты' }"
            :to="{
              name: 'catalog',
              params: {
                productCategory: 'Свитшоты',
                productGender: 'Любой пол'
              }
            }"
            >Свитшоты</router-link
          >
          <router-link to="/" class="logo-light">
            <img src="../assets/logo.svg" alt="Oonyxx" class="logo" />
          </router-link>
          <router-link to="/" class="logo-dark">
            <img src="../assets/logo-dark.svg" alt="Oonyxx" class="logo" />
          </router-link>
          <router-link
            class="link"
            :class="{ picked: productCategory == 'Обувь' }"
            :to="{
              name: 'catalog',
              params: { productCategory: 'Обувь', productGender: 'Любой пол' }
            }"
            >Обувь</router-link
          >
          <router-link
            class="link"
            :class="{ picked: productCategory == 'Сумки' }"
            :to="{
              name: 'catalog',
              params: { productCategory: 'Сумки', productGender: 'Любой пол' }
            }"
            >Сумки</router-link
          >
          <router-link
            to="/categories"
            :class="{ picked: productCategory == 'Все категории' }"
            class="link"
            >Все категории</router-link
          >
        </nav>
      </header>
      <div class="opened-menu" :class="{ active: isMenuOpened }">
        <div class="links">
          <router-link
            class="link"
            :to="{
              name: 'catalog',
              params: {
                productCategory: 'Футболки',
                productGender: 'Любой пол'
              }
            }"
            :class="{ picked: productCategory == 'Футболки' }"
            >Футболки</router-link
          >
          <router-link
            class="link"
            :class="{ picked: productCategory == 'Худи' }"
            :to="{
              name: 'catalog',
              params: { productCategory: 'Худи', productGender: 'Любой пол' }
            }"
            >Худи</router-link
          >
          <router-link
            class="link"
            :class="{ picked: productCategory == 'Свитшоты' }"
            :to="{
              name: 'catalog',
              params: {
                productCategory: 'Свитшоты',
                productGender: 'Любой пол'
              }
            }"
            >Свитшоты</router-link
          >
          <router-link
            class="link"
            :class="{ picked: productCategory == 'Обувь' }"
            :to="{
              name: 'catalog',
              params: { productCategory: 'Обувь', productGender: 'Любой пол' }
            }"
            >Обувь</router-link
          >
          <router-link
            class="link"
            :class="{ picked: productCategory == 'Сумки' }"
            :to="{
              name: 'catalog',
              params: { productCategory: 'Сумки', productGender: 'Любой пол' }
            }"
            >Сумки</router-link
          >
          <router-link to="/categories" class="link">Все категории</router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "hamburgers/_sass/hamburgers/hamburgers.scss";

export default {
  data() {
    return {
      isMenuOpened: false
    };
  },
  props: ["productCategory"]
};
</script>

<style lang="scss" scoped>
@import "@/global-styles/elements.scss";

$hamburger-padding-x: 0 !default;
$hamburger-padding-y: 0 !default;
$hamburger-layer-width: 16px !default;
$hamburger-layer-height: 2px !default;
$hamburger-layer-spacing: 4px !default;
$hamburger-layer-color: $black !default;
$hamburger-layer-border-radius: 0px !default;
$hamburger-hover-opacity: 1 !default;
$hamburger-active-layer-color: $black !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;

.hamburger {
  padding: $hamburger-padding-y $hamburger-padding-x;
  display: flex;
  align-items: center;

  &:hover {
    opacity: $hamburger-hover-opacity;
  }

  &.is-active {
    &:hover {
      opacity: $hamburger-active-hover-opacity;
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: $hamburger-active-layer-color;
    }
  }
}

.hamburger-box {
  width: $hamburger-layer-width;
  height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
}

.hamburger-inner {
  margin-top: $hamburger-layer-height / -2;

  &,
  &::before,
  &::after {
    width: $hamburger-layer-width;
    height: $hamburger-layer-height;
    background-color: $hamburger-layer-color;
    border-radius: $hamburger-layer-border-radius;
  }

  &::before {
    top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }

  &::after {
    bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }
}

.background {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  transition: all 0.2s ease;
  opacity: 0;
  pointer-events: none;

  &.active {
    opacity: 1;
  }
}

.opened-menu {
  position: absolute;
  top: -100%;
  background: $white-background;
  height: 260px;
  width: 100%;
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  z-index: 5;

  .links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 30px;

    a {
      text-decoration: none;
      color: $black;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  &.active {
    top: 80px;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;
  width: 100%;
  background: $white-background;
  z-index: 6;
  position: relative;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 1000px;
    position: relative;

    .open-menu {
      display: none;
      cursor: pointer;
      position: absolute;
      left: 0px;
      align-items: center;

      p {
        text-transform: uppercase;
        margin-left: 12px;
        font-weight: 700;
        color: $black;
        line-height: 1;
      }
    }

    .link {
      text-decoration: none;
      color: $black;
      cursor: pointer;
      font-size: 16px;
      line-height: 140%;
      font-weight: 700;
      text-transform: uppercase;
      padding: 8px 15px;
      transition: all 0.2s ease;

      &:hover {
        background: $black;
        color: white;
      }

      &.picked {
        border: 1px solid $black;
      }
    }

    .logo-dark {
      display: none;
    }

    .logo {
      width: 80px;
      height: 80px;
    }
  }
}

@media screen and (max-width: 1200px) {
  header {
    height: 100px;

    nav {
      max-width: 800px;

      .logo {
        width: 60px;
        height: 60px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  header {
    height: 80px;
    padding-left: 32px;
    padding-right: 32px;

    nav {
      .open-menu {
        display: flex;
      }

      .link {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .opened-menu {
    height: 358px;

    .links {
      grid-template-columns: 1fr;

      a {
        font-size: 14px;
      }
    }

    &.active {
      top: 60px;
    }
  }

  header {
    height: 60px;
    padding-left: 16px;
    padding-right: 16px;

    nav {
      .open-menu {
        img {
          width: 12px;
        }

        p {
          font-size: 12px;
          margin-left: 8px;
        }
      }

      .logo,
      .logo-dark,
      .logo-light {
        width: 40px;
        height: 40px;
      }
    }
  }
}

@media screen and (prefers-color-scheme: dark) {
  .opened-menu {
    background: $dark-background;
    border-top: 1px solid #444;

    .links a {
      color: $white;
    }
  }

  header {
    background: $black-background;

    nav {
      .open-menu p {
        color: $white;
      }

      .logo-light {
        display: none;
      }

      .logo-dark {
        display: block;
      }

      .link {
        color: $white;

        &:hover {
          background: $white;
          color: $black;
        }

        &.picked {
          border: 1px solid $white;
        }
      }
    }
  }

  .hamburger.is-active {
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: $white;
    }
  }

  .hamburger-inner {
    &,
    &::before,
    &::after {
      background-color: $white;
    }
  }
}
</style>
