<template>
  <div class="container">
    <div class="head">
      <h2>
        <i> <span>#</span>Новинки </i>
      </h2>
      <router-link
        class="link"
        :to="{
          name: 'catalog',
          params: { productCategory: 'Все товары', productGender: 'Любой пол' }
        }"
        >Смотреть все</router-link
      >
    </div>
    <div class="products">
      <div
        class="loading"
        :class="{ hidden: Object.keys(products).length > 0 }"
      >
        <img
          src="../assets/loading.svg"
          alt="Загрузка..."
          class="loading-light"
        />
        <img
          src="../assets/loading-dark.svg"
          alt="Загрузка..."
          class="loading-dark"
        />
      </div>
      <router-link
        class="product-card"
        v-for="product in products.slice(-6)"
        :key="product.id"
        :to="{
          name: 'product',
          params: { productId: product.id, productCategory: product.category }
        }"
      >
        <img :src="product.photoLink" alt />
        <p>
          <i>{{ product.price }}</i>
        </p>
        <h3 class="title is-5 has-text-centered">{{ product.title }}</h3>
        <div class="new">New</div>
        <span>
          <i>Купить</i>
        </span>
      </router-link>
    </div>
  </div>
</template>

<script>
import { db } from "./firebase";

export default {
  data() {
    return {
      products: []
    };
  },
  firestore: {
    products: db.collection("products").orderBy("time")
  }
};
</script>

<style scoped lang="scss">
@import "@/global-styles/elements.scss";

.container {
  margin-top: 60px;

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    h2 {
      font-size: 36px;
      color: $black;
      text-transform: uppercase;

      span {
        color: $light-main;
      }
    }

    a {
      text-decoration: none;
      color: $black;
      cursor: pointer;
      font-size: 16px;
      font-weight: 700;
    }
  }

  .products {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    justify-content: space-around;
    position: relative;
    min-height: 300px;

    .loading {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 1;
      position: absolute;
      background: $white-background;
      z-index: 1;
      pointer-events: all;
      user-select: none;
      transition: all 0.2s ease;
      top: 0;
      min-height: 300px;

      &.hidden {
        opacity: 0;
        z-index: -1;
        pointer-events: none;
      }

      img {
        width: 50px;
        height: 50px;
      }

      .loading-dark {
        display: none;
      }
    }

    .product-card {
      width: 370px;
      position: relative;
      display: flex;
      flex-direction: column;
      text-decoration: none;
      margin-bottom: 50px;
      margin-right: 10px;
      margin-left: 10px;

      &:hover {
        span {
          opacity: 1;
        }

        img {
          border-color: $light-main;
        }
      }

      img {
        width: 370px;
        height: 370px;
        border: 1px solid #cccccc;
        transition: all 0.2s ease;
      }

      .new {
        text-transform: uppercase;
        position: absolute;
        width: 60px;
        height: 60px;
        background: $light-main;
        color: white;
        border-radius: 50%;
        top: 20px;
        right: 20px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
      }

      p {
        font-size: 24px;
        color: $black;
        font-weight: 700;
        margin-top: 12px;
        margin-bottom: 10px;
      }

      h3 {
        font-size: 16px;
        color: $black;
        font-weight: 400;
      }

      span {
        font-size: 20px;
        color: $light-main;
        font-weight: 700;
        position: absolute;
        right: 20px;
        top: 325px;
        opacity: 0;
        transition: all 0.2s ease;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 40px;

    .head {
      margin-bottom: 30px;
    }

    .products .product-card {
      width: 290px;
      margin-bottom: 40px;

      img {
        width: 290px;
        height: 290px;
      }

      p {
        margin-top: 5px;
        margin-bottom: 5px;
      }

      .new {
        width: 50px;
        height: 50px;
        font-size: 16px;
        top: 10px;
        right: 10px;
      }

      span {
        top: 255px;
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .container {
    .products .product-card {
      width: 225px;

      img {
        width: 225px;
        height: 225px;
      }

      .new {
        width: 40px;
        height: 40px;
        font-size: 14px;
      }

      span {
        top: 195px;
        font-size: 14px;
        right: 15px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 30px;

    .head {
      h2 {
        font-size: 24px;
      }

      a {
        font-size: 12px;
      }
    }

    .products .product-card {
      width: 290px;
      margin-bottom: 20px;

      img {
        width: 290px;
        height: 290px;
      }

      .new {
        width: 40px;
        height: 40px;
        font-size: 14px;
      }

      span {
        top: 255px;
        right: 20px;
      }
    }
  }
}

@media screen and (prefers-color-scheme: dark) {
  .container {
    .head {
      h2 {
        color: $white;

        span {
          color: $dark-main;
        }
      }

      a {
        color: $white;
      }
    }

    .products {
      .product-card {
        p {
          color: $white;
        }

        h3 {
          color: $white;
        }
      }

      .loading {
        background: $black-background;

        .loading-dark {
          display: block;
        }

        .loading-light {
          display: none;
        }
      }
    }
  }
}
</style>
