<template>
  <div class="product">
    <div class="loading" :class="{ hidden: productTitle != '' }">
      <img
        src="../assets/loading.svg"
        alt="Загрузка..."
        class="loading-light"
      />
      <img
        src="../assets/loading-dark.svg"
        alt="Загрузка..."
        class="loading-dark"
      />
    </div>
    <div class="background" :class="{ active: isPopupOpened }"></div>
    <div class="popup" :class="{ active: isPopupOpened }">
      <div class="head">
        <h2>Покупка через Telegram</h2>
        <div @click="isPopupOpened = !isPopupOpened" class="close-button">
          <svg
            width="14"
            height="14"
            viewBox="0 0 14 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="2.05078"
              y="0.63623"
              width="16"
              height="2"
              transform="rotate(45 2.05078 0.63623)"
              fill="#1a1a1a"
            />
            <rect
              x="0.636719"
              y="11.9502"
              width="16"
              height="2"
              transform="rotate(-45 0.636719 11.9502)"
              fill="#1a1a1a"
            />
          </svg>
        </div>
      </div>
      <div class="main" :class="{ hidden: isRequestPosted }">
        <h3>Ваше имя</h3>
        <input
          type="text"
          name="name"
          placeholder="Введите ваше имя"
          v-model="userName"
        />
        <h3>Ваш номер телефона</h3>
        <input
          type="text"
          placeholder="+7 (xxx) xxx-xx-xx"
          v-model="userPhone"
          id="phoneNumberInput"
        />
        <button @click="buy">Оставить заявку</button>
      </div>
      <h2 class="thanks" :class="{ active: isRequestPosted }">
        Спасибо за покупку!
      </h2>
    </div>
    <div class="container">
      <div class="images">
        <div class="image">
          <img :src="productLink" alt />
        </div>
      </div>
      <div class="info">
        <h1>{{ productTitle }}</h1>
        <h2>{{ productPrice }}</h2>
        <p>{{ productDescription }}</p>
        <p>Пол: {{ productGender }}</p>
        <h3 v-show="productSize != 'Нет'">Размеры</h3>
        <div class="sizes" v-show="productSize == 'Да'">
          <div
            class="size"
            :class="{ active: pickedSize == 'XS' }"
            @click="pickSize('XS')"
          >
            XS
          </div>
          <div
            class="size"
            :class="{ active: pickedSize == 'S' }"
            @click="pickSize('S')"
          >
            S
          </div>
          <div
            class="size"
            :class="{ active: pickedSize == 'M' }"
            @click="pickSize('M')"
          >
            M
          </div>
          <div
            class="size"
            :class="{ active: pickedSize == 'L' }"
            @click="pickSize('L')"
          >
            L
          </div>
          <div
            class="size"
            :class="{ active: pickedSize == 'XL' }"
            @click="pickSize('XL')"
          >
            XL
          </div>
          <div
            class="size"
            :class="{ active: pickedSize == '2XL' }"
            @click="pickSize('2XL')"
          >
            2XL
          </div>
          <div
            class="size"
            :class="{ active: pickedSize == '3XL' }"
            @click="pickSize('3XL')"
          >
            3XL
          </div>
        </div>
        <div class="sizes" v-show="productCategory == 'Обувь'">
          <div
            class="size"
            :class="{ active: pickedSize == '35' }"
            @click="pickSize('35')"
          >
            35
          </div>
          <div
            class="size"
            :class="{ active: pickedSize == '36' }"
            @click="pickSize('36')"
          >
            36
          </div>
          <div
            class="size"
            :class="{ active: pickedSize == '37' }"
            @click="pickSize('37')"
          >
            37
          </div>
          <div
            class="size"
            :class="{ active: pickedSize == '38' }"
            @click="pickSize('38')"
          >
            38
          </div>
          <div
            class="size"
            :class="{ active: pickedSize == '39' }"
            @click="pickSize('39')"
          >
            39
          </div>
          <div
            class="size"
            :class="{ active: pickedSize == '40' }"
            @click="pickSize('40')"
          >
            40
          </div>
          <div
            class="size"
            :class="{ active: pickedSize == '41' }"
            @click="pickSize('41')"
          >
            41
          </div>
          <div
            class="size"
            :class="{ active: pickedSize == '42' }"
            @click="pickSize('42')"
          >
            42
          </div>
          <div
            class="size"
            :class="{ active: pickedSize == '43' }"
            @click="pickSize('43')"
          >
            43
          </div>
          <div
            class="size"
            :class="{ active: pickedSize == '44' }"
            @click="pickSize('44')"
          >
            44
          </div>
          <div
            class="size"
            :class="{ active: pickedSize == '45' }"
            @click="pickSize('45')"
          >
            45
          </div>
        </div>
        <h3>Количество</h3>
        <div class="counter">
          <div
            class="block"
            @click="pickedNumber -= 1"
            :class="{ disabled: pickedNumber == 1 }"
          >
            –
          </div>
          <div class="block disabled">{{ pickedNumber }}</div>
          <div
            class="block"
            @click="pickedNumber += 1"
            :class="{ disabled: pickedNumber == 10 }"
          >
            +
          </div>
        </div>
        <button @click="isPopupOpened = !isPopupOpened">
          Купить через Telegram
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../components/firebase";
import IMask from "imask";

export default {
  data() {
    return {
      productTitle: "",
      productGender: "",
      productCategory: "",
      productLink: "",
      productPrice: "",
      productDescription: "",
      productSize: "",
      pickedSize: "",
      pickedNumber: 1,
      isPopupOpened: false,
      userName: "",
      userPhone: "",
      isRequestPosted: false,
      currentUser: ""
    };
  },
  props: ["productId"],
  methods: {
    buy() {},
    pickSize(size) {
      this.pickedSize = size;
    }
  },
  mounted() {
    new IMask(document.getElementById("phoneNumberInput"), {
      mask: "+{7} (000) 000-00-00"
    });
    window.scrollTo(0, 0);
    db.collection("products")
      .doc(this.productId)
      .get()
      .then(snapshot => {
        const document = snapshot.data();
        this.productTitle = document.title;
        this.productGender = document.gender;
        this.productCategory = document.category;
        this.productLink = document.photoLink;
        this.productPrice = document.price;
        this.productDescription = document.description;
        this.productSize = document.size;
      });
  }
};
</script>

<style lang="scss" scoped>
@import "@/global-styles/elements.scss";

.background {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  transition: all 0.2s ease;
  opacity: 0;
  pointer-events: none;

  &.active {
    opacity: 1;
  }
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  position: absolute;
  background: white;
  z-index: 1;
  pointer-events: all;
  user-select: none;
  transition: all 0.2s ease;
  top: 0;
  min-height: 300px;

  &.hidden {
    opacity: 0;
    z-index: -1;
    pointer-events: none;
  }

  img {
    width: 50px;
    height: 50px;
  }

  .loading-dark {
    display: none;
  }
}

.popup {
  z-index: -1;
  opacity: 0;
  width: 600px;
  height: 400px;
  background: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease;
  padding: 30px;

  .head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;

    h2 {
      font-size: 28px;
    }

    .close-button {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .main.hidden {
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
  }

  .thanks {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
    top: calc(50% + 20px);
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    &.active {
      opacity: 1;
      pointer-events: all;
    }
  }

  h3 {
    font-weight: 400;
    font-size: 18px;
  }

  input {
    height: 50px;
    width: 300px;
    background: #f0f0f0;
    border: none;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    margin-bottom: 20px;
  }

  button {
    width: 300px;
    height: 50px;
    background: $black;
    color: white;
    transition: all 0.2s ease;
    cursor: pointer;
    border: none;
    font-size: 18px;
    font-weight: 700;

    &:hover {
      background: #333333;
    }
  }

  &.active {
    z-index: 6;
    opacity: 1;
  }
}

.product {
  border-top: 1px solid #ccc;
}

.container {
  margin-top: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 60px;

  .images {
    .image {
      width: 100%;
      padding-bottom: 100%;
      border: 2px solid #000000;
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }
  }

  .info {
    h1 {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 15px;
      color: $black;
    }

    h2 {
      font-size: 28px;
      color: $black;
      margin-bottom: 30px;
    }

    p {
      font-size: 16px;
      line-height: 150%;
      color: #595959;
      margin-bottom: 40px;
    }

    h3 {
      font-size: 16px;
      margin-bottom: 20px;
    }

    .sizes {
      display: flex;
      margin-bottom: 40px;
      flex-wrap: wrap;

      .size {
        width: 48px;
        height: 48px;
        border: 1px solid #cccccc;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        color: #808080;
        margin-right: 8px;
        transition: all 0.2s ease;
        cursor: pointer;
        user-select: none;
        margin-bottom: 8px;

        &:hover {
          background: $light-main;
          font-weight: 700;
          color: white;
          border-color: $light-main;
        }

        &.active {
          background: $light-main;
          font-weight: 700;
          color: white;
          border-color: $light-main;
          cursor: default;
        }
      }
    }

    .counter {
      display: flex;

      .block {
        width: 48px;
        height: 48px;
        border: 1px solid #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 16px;
        color: #656565;
        transition: all 0.2s ease;
        user-select: none;
        margin-bottom: 40px;

        &:hover {
          background: $black;
          color: white;
          border-color: $black;
        }

        &.disabled {
          pointer-events: none;
          cursor: default;
        }

        &:nth-child(2) {
          border-left: none;
          border-right: none;
        }
      }
    }

    button {
      width: 280px;
      height: 60px;
      background: $black;
      font-size: 18px;
      color: white;
      transition: all 0.2s ease;
      cursor: pointer;
      border: none;
      font-weight: 700;

      &:hover {
        background: #333333;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .container {
    margin-top: 60px;
    grid-column-gap: 40px;
    padding-left: 32px;
    padding-right: 32px;

    .info {
      p,
      .sizes,
      .counter .block {
        margin-bottom: 30px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
    max-width: 560px;
    margin-left: 0;

    .images {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 500px) {
  .popup {
    width: calc(100% - 32px);
    .head {
      h2 {
        font-size: 22px;
      }

      .close-button {
        width: 40px;
        height: 40px;
        margin-left: 10px;
      }
    }
    input,
    button,
    h3 {
      width: 100%;
      font-size: 16px;
    }
  }

  .container {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 40px;

    .info {
      h1 {
        font-size: 20px;
        margin-bottom: 10px;
      }

      h2 {
        font-size: 24px;
        margin-bottom: 20px;
      }

      p {
        font-size: 12px;
        margin-bottom: 25px;
      }

      h3 {
        font-size: 14px;
        margin-bottom: 15px;
      }

      .sizes {
        margin-bottom: 25px;

        .size {
          width: 40px;
          height: 40px;
          font-size: 14px;
        }
      }

      .counter .block {
        width: 40px;
        height: 40px;
        font-size: 16px;
      }

      button {
        height: 50px;
        width: 100%;
        font-size: 14px;
      }
    }
  }
}

@media screen and (prefers-color-scheme: dark) {
  .popup {
    background: $dark-background;

    h2 {
      color: $white;
    }

    .head .close-button svg rect {
      fill: $white;
    }

    input {
      background: #333;
      color: $white;

      &::placeholder {
        color: rgba(255, 255, 255, 0.35);
      }
    }

    h3 {
      color: $white;
    }

    button {
      background: transparent;
      border: 3px solid $white;

      &:hover {
        background: $white;
        color: $black;
      }
    }
  }

  .product {
    border-top: 1px solid #444;
  }

  .loading {
    background: $black-background;

    .loading-dark {
      display: block;
    }

    .loading-light {
      display: none;
    }
  }

  .container {
    .info {
      h1,
      h2,
      p,
      h3 {
        color: $white;
      }

      .sizes .size {
        border-color: #555;
        color: #ccc;
      }

      .counter .block {
        border-color: #555;
        color: #ccc;

        &:hover {
          background-color: $white;
          color: $black;
          border-color: $white;
        }
      }

      button {
        background: $black-background;
        color: $white;
        border: 3px solid $white;

        &:hover {
          background: $white;
          color: $black;
        }
      }
    }
  }
}
</style>
