<template>
  <div
    class="slider-container"
    v-touch:swipe.right="swipeRight"
    v-touch:swipe.left="swipeLeft"
  >
    <div class="loading" :class="{ hidden: Object.keys(slides).length > 0 }">
      <img
        src="../assets/loading.svg"
        alt="Загрузка..."
        class="loading-light"
      />
      <img
        src="../assets/loading-dark.svg"
        alt="Загрузка..."
        class="loading-dark"
      />
    </div>
    <div
      class="slides"
      :style="{
        transform:
          'translateX(' +
          -(100 / Object.keys(slides).length) * pickedSlide +
          '%)',
        width: 100 * Object.keys(slides).length + '%'
      }"
    >
      <div class="slider" v-for="slide in slides" :key="slide.id">
        <div
          class="images"
          :style="{
            background:
              'url(' + slide.link + ') no-repeat center center / cover'
          }"
        ></div>
        <div class="background"></div>
        <div class="container">
          <div class="content">
            <h1>
              <i>{{ slide.title }}</i>
            </h1>
            <p>{{ slide.subtitle }}</p>
            <button>
              <i>{{ slide.button }}</i>
            </button>
          </div>
          <div
            class="arrow left"
            @click="pickedSlide -= 1"
            :class="{ disabled: pickedSlide == 0 }"
          >
            <svg
              fill="none"
              height="36"
              viewBox="0 0 21 36"
              width="21"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="m20.8754 33.5877-2.3435 2.4123-18.53189685-17.9994 18.53189685-18.00059676 2.3435 2.41281676-16.04616 15.58778z"
              />
            </svg>
          </div>
          <div
            class="arrow right"
            @click="pickedSlide += 1"
            :class="{ disabled: pickedSlide + 1 == Object.keys(slides).length }"
          >
            <svg
              width="21"
              height="36"
              viewBox="0 0 21 36"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M-0.000427246 2.41234L2.34308 0L20.875 17.9994L2.34308 36L-0.000427246 33.5872L16.0458 17.9994L-0.000427246 2.41234Z"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="dots">
      <div
        class="dot"
        v-for="(dot, index) in Object.keys(slides).length"
        :key="dot.number"
        :class="{ active: index == pickedSlide }"
        @click="pickedSlide = index"
      ></div>
    </div>
  </div>
</template>

<script>
import { db } from "../components/firebase";
import Vue from "vue";
import Vue2TouchEvents from "vue2-touch-events";

Vue.use(Vue2TouchEvents);

export default {
  data() {
    return {
      pickedSlide: 0,
      slides: []
    };
  },
  firestore: {
    slides: db.collection("slides").orderBy("time")
  },
  methods: {
    swipeRight() {
      if (this.pickedSlide != 0) {
        this.pickedSlide -= 1;
      }
    },
    swipeLeft() {
      if (this.pickedSlide + 1 != Object.keys(this.slides).length) {
        this.pickedSlide += 1;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import "@/global-styles/elements.scss";

.slider-container {
  overflow: hidden;
  position: relative;
  height: 420px;

  .loading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    position: absolute;
    background: white;
    z-index: 1;
    pointer-events: all;
    user-select: none;
    transition: all 0.2s ease;

    &.hidden {
      opacity: 0;
      z-index: -1;
      pointer-events: none;
    }

    img {
      width: 50px;
      height: 50px;
    }

    .loading-dark {
      display: none;
    }
  }

  .slides {
    display: flex;
    flex-direction: row-reverse;
    transition: all 0.2s ease;
  }

  .dots {
    position: absolute;
    bottom: 30px;
    display: flex;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);

    .dot {
      width: 14px;
      height: 14px;
      border: 1px solid #989898;
      transition: all 0.2s ease;
      border-radius: 50%;
      margin: 5px;
      cursor: pointer;

      &.active {
        width: 10px;
        height: 10px;
        background: #e4e4e4;
        border-color: transparent;
        cursor: default;
      }
    }
  }
}

.slider {
  width: 100%;
  height: 420px;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  overflow: hidden;

  .images {
    position: absolute;
    display: flex;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .background {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-size: 64px;
        text-transform: uppercase;
        color: white;
        margin-bottom: 20px;
        text-align: center;
        line-height: 90%;
      }

      p {
        font-size: 20px;
        color: white;
        margin-bottom: 30px;
        text-align: center;
      }

      button {
        height: 60px;
        background: rgba(117, 89, 255, 0.1);
        border: 2px solid $light-main;
        width: 280px;
        color: white;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
        transition: all 0.2s ease;
        cursor: pointer;

        &:hover {
          background: $light-main;
        }
      }
    }

    .arrow {
      position: absolute;
      cursor: pointer;

      &.left {
        left: 0;
      }

      &.right {
        right: 0;
      }

      svg path {
        fill: #ccc;
        transition: all 0.2s ease;
      }

      &.disabled {
        cursor: default;
        pointer-events: none;

        svg path {
          fill: #4b4b4b;
        }
      }

      &:hover {
        svg path {
          fill: #fff;
        }

        &.disabled svg path {
          fill: #4b4b4b;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .slider .container .arrow {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .slider-container .dots .dot {
    width: 10px;
    height: 10px;
    margin: 3px;

    &.active {
      width: 7px;
      height: 7px;
    }
  }

  .slider .container {
    .content {
      h1 {
        font-size: 36px;
        margin-bottom: 15px;
      }

      p {
        font-size: 16px;
        margin-bottom: 50px;
      }

      button {
        font-size: 14px;
        height: 50px;
        width: 240px;
      }
    }
  }
}

@media screen and (prefers-color-scheme: dark) {
  .slider .container .content button {
    border: 2px solid $dark-main;

    &:hover {
      background: $dark-main;
    }
  }

  .slider-container .loading {
    background: $black-background;

    .loading-dark {
      display: block;
    }

    .loading-light {
      display: none;
    }
  }
}
</style>
